{% extends "AllergoBuster5000/layout.html" %}
{% load static %}
{% block body %}
{% block script %}
	<script src="{% static 'AllergoBuster5000/ab5000.js' %}"></script>
	<script src="{% static 'AllergoBuster5000/ab5000_1.js' %}"></script>
	<script src="{% static 'AllergoBuster5000/ab5000_2.js' %}"></script>
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% endblock %}

<h1>Pollenflug</h1>
</br>
<div id="Graphs" style="display:block">
	<!-- div id='SS'></div>
	</br-->
	<div id='SC'></div>
	</br>
	<div id='NM'></div>
	</br>
	<div id='GT'></div>
	</br>
	<!-- div id='SG'></div>
	</br-->
</div>



{% if user.is_authenticated %}
<div id="div1" style="display:none">
	<label for="userSelect">How do you feel?:</label>
	<br></br>
	<select id="userSelect" style="width:20%" class="form-select">
		<option value="NM">Normal</option>
		<!-- option selected>Normal</option !-->
		<option value="SS">Sehr Schlecht</option>
		<option value="SC">Schlecht</option>
		<!--option value="NM">Normal</option !-->
		<option value="GT">Gut</option>
		<option value="SG">Sehr Gut</option>
	</select>
	<br>
	<button onclick="saveData()" id="btn1" type="button" class="btn btn-secondary btn-sm">Save Data to Profile</button>
	<br>
</div>
<br>
	<script>
		// document.getElementById('div1').style.display = 'block';
		//	document.getElementById('userSelect').style.display = 'block';
	</script>
{% endif %}



<div id="withGraphOut_0" class="container">
	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
		<div id="cont1" class="col">
			<div class="card border-secondary mb-3" style="max-width: 18rem; cursor: pointer;" onclick="showLocation(this)">
				<div class="card-header">Header</div>
				<div class="card-body text-secondary">
					<h6 class="card-title">Pollen pro m³ </br><span  style="font-size:11px"> gemessen seit 00:00 Uhr</span></h6>
					<!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p!-->
					<table class="table">
						<tbody>
							<tr>
								<td onmouseover="translateMeLat(this)" onmouseout="translateMeDe(this)"></td>
								<td></td>
							</tr>
							<tr>
								<td onmouseover="translateMeLat(this)" onmouseout="translateMeDe(this)"></td>
								<td></td>
							</tr>
							<tr>
								<td onmouseover="translateMeLat(this)" onmouseout="translateMeDe(this)"></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="withGraphOut_1" class="container">
	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
		<div id="cont2" class="col">
			<div class="card border-secondary mb-3" style="max-width: 18rem">
				<div class="card-header" onmouseover="translateMeLat(this)" onmouseout="translateMeDe(this)">Pollenname</div>
				<div class="card-body text-secondary">
					<h6 class="card-title">Uhrzeit | Pollen pro m³</h6>
					<ul class="list-group">
						<li id="li1" style="display:none" class="list-group-item d-flex justify-content-between align-items-center">
						<span>Gesamt</span><span class="badge bg-secondary rounded-pill">14</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="div1" style="display:none"/>

{% endblock %}